@import url(../fonts/fonts.css);
body {
  scroll-behavior: smooth;
  background-color: #fff;
  font-family: 'Panton-RegularItalic';
  color: #2D2A2B;
  font-size: 14px;
  line-height: 1.4;
  position: relative;
  -webkit-font-smoothing: antialiased; }

*,
*:after,
*:before {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, div::-moz-selection, img::-moz-selection, mark::-moz-selection, ul::-moz-selection, li::-moz-selection {
  color: #fff;
  background-color: #423943; }

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection {
  color: #fff;
  background-color: #423943; }

::-moz-selection {
  color: #2D2A2B;
  background-color: #423943; }

::selection {
  color: #2D2A2B;
  background-color: #423943; }

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer; }

a {
  color: #fff; }
  a:hover {
    color: #fff;
    opacity: .6; }

button {
  border: transparent;
  background: none; }

option {
  color: #fff; }

input,
textarea,
select {
  color: #fff;
  font-family: 'AvenirNextCyr-Regular';
  font-size: 14px;
  padding: 8px 15px;
  background: none;
  opacity: .7; }

input,
select {
  border: none;
  border-bottom: 1px solid #fff; }

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder {
  color: #fff; }

input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder {
  color: #fff; }

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder {
  color: #fff; }

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="tel"]::-ms-input-placeholder {
  color: #fff; }

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  color: #fff; }

input:focus,
textarea:focus,
input:active,
textarea:active {
  background: none;
  color: #fff;
  border-bottom: 1px solid #fff;
  outline: none;
  opacity: 1; }

.shd {
  -webkit-box-shadow: 0px 12px 28px -13px rgba(0, 0, 0, 0.64);
          box-shadow: 0px 12px 28px -13px rgba(0, 0, 0, 0.64); }
  .shd:hover {
    -webkit-box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69);
            box-shadow: 0px 16px 32px -9px rgba(0, 0, 0, 0.69); }

.btn {
  outline: none;
  font-size: 14px;
  font-family: 'AvenirNextCyr-Bold';
  text-transform: uppercase;
  text-align: center;
  padding: 15px 30px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  position: relative;
  display: block;
  max-width: 320px;
  opacity: 1; }
  .btn:hover {
    color: #fff;
    opacity: .8;
    -webkit-transform: scale(0.97);
        -ms-transform: scale(0.97);
            transform: scale(0.97); }
  .btn_trsp {
    background-color: #fff;
    border: 1px solid #55A43D;
    color: #000; }
    .btn_trsp:hover {
      color: #000; }

.und {
  text-decoration: underline; }
  .und:hover {
    text-decoration: none; }

.upp {
  text-transform: uppercase; }

.list_circle {
  list-style-type: none;
  padding-left: 0; }
  .list_circle li {
    padding-left: 25px;
    position: relative; }
    .list_circle li {
      margin-bottom: 10px; }
    .list_circle li::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: #EE414F;
      left: 0;
      top: 8px;
      -webkit-border-radius: 50%;
              border-radius: 50%; }

.tabs__list {
  list-style-type: none; }
  .tabs__list li {
    cursor: pointer; }

.tabs__content-item {
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset; }

.popup__container {
  padding: 40px;
  background-color: transparent; }
  .popup__container .fancybox-close-small {
    top: 40px;
    right: 40px;
    color: #000; }
  .popup__container .popup__wrp {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative; }
    .popup__container .popup__wrp::before {
      z-index: 1;
      content: '';
      position: absolute;
      height: 110%;
      width: 110%;
      top: -5%;
      right: -5%;
      bottom: -5%;
      left: -5%;
      z-index: 1;
      background: #ffcb05;
      background: -webkit-linear-gradient(-45deg, #ffcb05 0%, #50b848 32%, #00bff3 70%, #ee337b 100%);
      background: -webkit-linear-gradient(315deg, #ffcb05 0%, #50b848 32%, #00bff3 70%, #ee337b 100%);
      background: -o-linear-gradient(315deg, #ffcb05 0%, #50b848 32%, #00bff3 70%, #ee337b 100%);
      background: linear-gradient(135deg, #ffcb05 0%, #50b848 32%, #00bff3 70%, #ee337b 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#423943', endColorstr='#ee337b',GradientType=1 );
      opacity: .7; }
  .popup__container .popup_call__wrp {
    max-width: 320px; }
    .popup__container .popup_call__wrp .popup {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 2;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -ms-align-items: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      background-color: #fff;
      color: #2D2A2B;
      padding: 20px 25px 30px;
      text-align: center; }
      .popup__container .popup_call__wrp .popup__ttl {
        font-family: 'Museo900', sans-serif;
        text-transform: uppercase;
        font-size: 22px;
        margin-bottom: 30px; }
      .popup__container .popup_call__wrp .popup .form__input {
        color: #2D2A2B;
        margin-bottom: 15px; }
      .popup__container .popup_call__wrp .popup input.form__input::-webkit-input-placeholder {
        color: #2D2A2B; }
      .popup__container .popup_call__wrp .popup input.form__input::-moz-placeholder {
        color: #2D2A2B; }
      .popup__container .popup_call__wrp .popup input.form__input:-ms-input-placeholder {
        color: #2D2A2B; }
      .popup__container .popup_call__wrp .popup input.form__input::-ms-input-placeholder {
        color: #2D2A2B; }
      .popup__container .popup_call__wrp .popup input.form__input::placeholder {
        color: #2D2A2B; }
      .popup__container .popup_call__wrp .popup .btn {
        width: 100%;
        margin-bottom: 15px; }
    .popup__container .popup_call__wrp__policy {
      margin-top: 15px;
      max-width: 230px;
      text-align: center;
      font-size: 12px; }
      .popup__container .popup_call__wrp__policy a {
        font-size: 12px;
        color: #00BFF3; }

.owl-carousel .owl-dots {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0; }
  .owl-carousel .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    background-color: transparent;
    position: relative;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-border-radius: 50%;
            border-radius: 50%; }
    .owl-carousel .owl-dots button.owl-dot:not(:last-child) {
      margin-right: 13px; }
    .owl-carousel .owl-dots button.owl-dot.active {
      -webkit-transform: scale(0.9);
          -ms-transform: scale(0.9);
              transform: scale(0.9);
      border-color: transparent;
      background-color: #000; }

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  bottom: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: -25.5px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #4E3F50;
  cursor: pointer; }

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  background-color: #fff; }

.owl-carousel .owl-nav button.owl-prev.disabled,
.owl-carousel .owl-nav button.owl-next.disabled,
.owl-carousel .owl-nav button.owl-prev.disabled:hover,
.owl-carousel .owl-nav button.owl-next.disabled:hover {
  opacity: .4;
  background-color: transparent;
  cursor: default; }

.owl-carousel .owl-nav button.owl-prev {
  left: 0; }

.owl-carousel .owl-nav button.owl-next {
  right: 0; }

.section_inner {
  padding: 60px 0; }

.section__ttl {
  font-size: 40px;
  font-family: 'Panton-SemiBold';
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase; }

.input__wrp {
  position: relative;
  max-width: 230px; }
  .input__wrp input,
  .input__wrp select {
    width: 100%;
    padding-left: 35px; }
  .input__wrp::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 8px;
    width: 12px;
    height: 17px;
    background-position: 50% 50%;
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat; }
  .input__wrp_name:before {
    background-image: url(../img/icon__form-name.png); }
  .input__wrp_mail:before {
    background-image: url(../img/icon__form-mes.png);
    top: 8px; }
  .input__wrp_tel:before {
    background-image: url(../img/icon__form-tel.png);
    top: 8px; }
  .input__wrp:not(:last-child) {
    margin-bottom: 15px; }

.header {
  padding: 10px 0;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-transition: .6s all ease;
  -o-transition: .6s all ease;
  transition: .6s all ease; }
  .header.sticky {
    padding: 0;
    background: url("../img/nav__bg.jpg") no-repeat 50% 50%/cover; }
  .header .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .nav__logo {
      display: none; }
    .header .nav__link {
      font-family: 'AvenirNextCyr-Regular';
      text-transform: uppercase;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: -webkit-calc(100% / 5);
      width: calc(100% / 5);
      position: relative; }
      .header .nav__link::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: -webkit-gradient(linear, left top, left bottom, from(#d0b2c200), color-stop(33%, #fbf8f8), color-stop(61%, #fbf8f8), to(#d0b2c200));
        background: -webkit-linear-gradient(top, #d0b2c200 0%, #fbf8f8 33%, #fbf8f8 61%, #d0b2c200 100%);
        background: -o-linear-gradient(top, #d0b2c200 0%, #fbf8f8 33%, #fbf8f8 61%, #d0b2c200 100%);
        background: linear-gradient(to bottom, #d0b2c200 0%, #fbf8f8 33%, #fbf8f8 61%, #d0b2c200 100%);
        opacity: 0;
        -webkit-transition: .5s all ease;
        -o-transition: .5s all ease;
        transition: .5s all ease; }
      .header .nav__link span {
        position: relative;
        width: 100%;
        text-align: center;
        padding: 25px 5px; }
        .header .nav__link span::before, .header .nav__link span::after {
          content: '';
          position: absolute;
          width: 2px;
          height: 20px;
          top: 50%;
          margin-top: -10px;
          bottom: 0px;
          background-color: #4f4747; }
        .header .nav__link span::before {
          left: -1px; }
        .header .nav__link span::after {
          right: -1px; }
      .header .nav__link:hover, .header .nav__link.here {
        opacity: 1; }
        .header .nav__link:hover::before, .header .nav__link.here::before {
          opacity: .1; }
        .header .nav__link:hover span, .header .nav__link.here span {
          opacity: 1;
          font-family: 'AvenirNextCyr-Bold'; }
          .header .nav__link:hover span::before, .header .nav__link:hover span::after, .header .nav__link.here span::before, .header .nav__link.here span::after {
            height: 60px;
            margin-top: -30px; }
  .header__soc-link {
    display: block; }
    .header__soc-link:not(:last-child) {
      margin-right: 12px; }
  .header__tel {
    font-size: 16px;
    font-family: 'AvenirNextCyr-Bold'; }
  .header__hamburger {
    position: relative;
    width: 32px;
    height: 2px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: #fff;
    opacity: 1;
    z-index: 6;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .header__hamburger::before, .header__hamburger::after {
      content: '';
      position: absolute;
      width: 32px;
      height: 2px;
      background-color: #fff;
      -webkit-border-radius: 35px;
              border-radius: 35px;
      left: 0; }
    .header__hamburger::before {
      top: -14px; }
    .header__hamburger::after {
      bottom: -14px; }
    .header__hamburger.active {
      background-color: transparent;
      z-index: 6;
      width: 32px;
      height: 10px; }
      .header__hamburger.active::before {
        width: 39px;
        top: 1.5px;
        -webkit-transform: rotate(315deg);
            -ms-transform: rotate(315deg);
                transform: rotate(315deg);
        background-color: #fff; }
      .header__hamburger.active::after {
        width: 39px;
        bottom: 7px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        background-color: #fff; }

.banner {
  height: 563px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: url("../img/banner__bg.jpg") no-repeat 50% 50%/cover; }
  .banner .offer {
    color: #fff;
    padding: 90px 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .banner .offer__subttl {
      font-size: 32px;
      margin-bottom: 20px; }
    .banner .offer__ttl {
      font-size: 45px;
      font-family: 'Panton-Bold';
      text-transform: uppercase; }
    .banner .offer__img {
      width: 272px;
      height: 444px;
      background: url("../img/banner__img.png") no-repeat 50% 50%/contain;
      margin-right: 210px; }

.quick-info {
  background-color: #fff;
  position: relative;
  margin-top: 563px;
  background: url("../img/videos__bg.jpg") fixed no-repeat 50% 50%/cover; }
  .quick-info__img {
    width: 100%;
    max-width: 770px;
    height: 544px;
    display: block;
    -webkit-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
            transform: translateY(-40px);
    margin-left: auto;
    margin-right: auto;
    background: url("../img/ipad.png") no-repeat 50% 50%/contain;
    position: relative; }
    .quick-info__img::before {
      content: '';
      position: absolute;
      width: 100px;
      height: 100px;
      left: 50%;
      margin-left: -50px;
      top: 50%;
      margin-top: -50px;
      background: url("../img/icon__play.svg") no-repeat 50% 50%/contain; }
    .quick-info__img:hover {
      opacity: 1;
      -webkit-transform: translateY(-35px);
          -ms-transform: translateY(-35px);
              transform: translateY(-35px); }
      .quick-info__img:hover::before {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2); }
  .quick-info__subjects {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -440px; }
    .quick-info__subjects-item {
      width: 465px;
      height: 395px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
              background-size: contain; }
      .quick-info__subjects-item_glass {
        background-image: url("../img/glasses.png"); }
      .quick-info__subjects-item_cup {
        background-image: url("../img/cup.png"); }

.intro-text {
  color: #000;
  background-color: #fff;
  position: relative;
  padding-bottom: 100px; }
  .intro-text__item {
    font-family: 'Panton-BoldItalic';
    text-align: center;
    font-size: 16px; }
    .intro-text__item p {
      margin-bottom: 0; }
  .intro-text .owl-carousel .owl-dots {
    bottom: -40px; }

.gallery {
  color: #fff;
  position: relative;
  background: url("../img/gallery__bg.jpg") fixed no-repeat 50% 50%/cover;
  overflow: hidden; }
  .gallery__slider .owl-stage-outer {
    overflow: visible; }
  .gallery__slider-item {
    max-width: 970px;
    width: 100%;
    height: 445px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    position: relative; }
    .gallery__slider-item::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: #4E3F50;
      opacity: .5; }
    .gallery__slider-item:hover {
      opacity: 1;
      -webkit-transform: scale(1.02);
          -ms-transform: scale(1.02);
              transform: scale(1.02); }
  .gallery__slider .owl-item.center .gallery__slider-item::before {
    opacity: .0; }

.tabs__list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.tabs__content-item {
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset; }

.videos {
  color: #000;
  position: relative;
  background: url("../img/videos__bg.jpg") fixed no-repeat 50% 50%/cover;
  overflow: hidden; }
  .videos .section__subttl {
    margin-bottom: -20px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px; }
  .videos .tabs__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 24%;
        -ms-flex: 0 0 24%;
            flex: 0 0 24%;
    max-width: 24%; }
    .videos .tabs__list li {
      width: 100%;
      height: 150px;
      display: block;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
              background-size: cover;
      position: relative; }
      .videos .tabs__list li::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #4E3F50;
        opacity: .7; }
      .videos .tabs__list li:not(:last-child) {
        margin-bottom: 15px; }
      .videos .tabs__list li.active::before {
        opacity: 0; }
      .videos .tabs__list li:not(.active):hover {
        -webkit-transform: scale(0.97);
            -ms-transform: scale(0.97);
                transform: scale(0.97); }
  .videos .tabs__content-item {
    height: 100%;
    max-height: 480px; }
  .videos__item_big {
    width: 100%;
    height: 100%;
    display: block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    position: relative; }
    .videos__item_big::before {
      content: '';
      position: absolute;
      width: 100px;
      height: 100px;
      left: 50%;
      margin-left: -50px;
      top: 50%;
      margin-top: -50px;
      background: url("../img/icon__play.svg") no-repeat 50% 50%/contain; }
    .videos__item_big:hover {
      opacity: 1; }
      .videos__item_big:hover::before {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2); }

.rev {
  color: #000;
  position: relative;
  background: url("../img/rev__bg.jpg") fixed no-repeat 50% 50%/cover; }
  .rev::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    opacity: .8; }
  .rev .container {
    position: relative; }
  .rev__slider {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto; }
  .rev__item-img {
    width: 100%;
    max-width: 270px;
    height: 200px;
    margin-left: 1px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }
  .rev__item p {
    font-family: 'Panton-BoldItalic';
    font-size: 16px; }
  .rev .owl-carousel .owl-nav button.owl-prev {
    left: -70px; }
  .rev .owl-carousel .owl-nav button.owl-next {
    right: -70px; }

.contacts {
  color: #fff;
  position: relative;
  background: url("../img/contacts__bg.jpg") fixed no-repeat 50% 50%/cover; }
  .contacts__tel {
    font-family: 'Panton-Bold';
    font-size: 26px;
    text-align: right;
    position: relative; }
  .contacts__img {
    position: absolute;
    right: -340px;
    max-height: 560px; }
  .contacts p {
    font-size: 18px;
    font-family: 'Panton-SemiBoldItalic'; }
  .contacts .btn {
    width: 100%; }
  .contacts .contacts-form__input {
    width: 100%; }
  .contacts .contacts-form__policy {
    font-family: 'Panton-LightItalic'; }
  .contacts .contacts-form__info-item {
    font-family: 'Panton-Light';
    opacity: .5; }
    .contacts .contacts-form__info-item:hover {
      opacity: 1; }
    .contacts .contacts-form__info-item img {
      max-height: 26px; }
  .contacts .contacts-form__akticom {
    font-family: 'Panton-Light'; }

@media screen and (max-width: 1200px) {
  body {
    overflow-x: hidden; }
  .header {
    padding: 25px 0; }
    .header.sticky {
      padding: 25px 0; }
    .header .nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .nav__logo {
        display: block;
        margin-bottom: 60px; }
      .header .nav__wrp {
        position: fixed;
        width: 120%;
        height: 100%;
        top: 0;
        left: 50%;
        margin-left: -60%;
        visibility: hidden;
        opacity: 0;
        background: url(../img/banner__bg.jpg) no-repeat 50% 50%;
        z-index: 3;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .header .nav__wrp.active {
          visibility: visible;
          opacity: 1; }
      .header .nav__link {
        width: -webkit-calc(100% / 2);
        width: calc(100% / 2); }
  .contacts__left {
    min-height: 530px; }
  .contacts__tel {
    text-align: center; }
  .contacts__img {
    max-height: 490px;
    top: 50px;
    right: 50%;
    margin-right: -540px; } }

@media screen and (max-width: 993px) {
  .banner {
    height: 700px; }
    .banner .offer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      padding-top: 90px; }
    .banner .offer__img {
      margin-right: 0; }
    .banner .offer__subttl {
      font-size: 23px; }
    .banner .offer__ttl {
      font-size: 34px; }
  .quick-info {
    margin-top: 690px; }
    .quick-info__img {
      height: 424px; }
    .quick-info__subjects {
      margin-top: -40px;
      max-height: 250px; }
      .quick-info__subjects-item {
        width: 50%;
        height: 275px; }
  .rev .owl-carousel .owl-nav button.owl-prev {
    left: 0; }
  .rev .owl-carousel .owl-nav button.owl-next {
    right: 0; } }

@media screen and (max-width: 768px) {
  .section__ttl {
    font-size: 25px; } }

@media screen and (max-width: 576px) {
  .quick-info__img {
    height: 284px; }
  .intro-text__item.short {
    height: 200px;
    overflow-y: hidden;
    position: relative; }
    .intro-text__item.short::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      -webkit-box-shadow: inset 0px -52px 35px 0px #fff;
              box-shadow: inset 0px -52px 35px 0px #fff; }
  .gallery__slider-item {
    height: 295px;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto; }
  .rev__item {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto; }
    .rev__item-descr {
      height: auto; }
      .rev__item-descr.short {
        height: 200px;
        overflow-y: hidden;
        position: relative; }
        .rev__item-descr.short::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          bottom: 0;
          left: 0;
          -webkit-box-shadow: inset 0px -52px 35px 0px #fae4d1bd;
                  box-shadow: inset 0px -52px 35px 0px #fae4d1bd; }
    .rev__item-img {
      margin-left: auto;
      margin-right: auto; }
    .rev__item p {
      text-align: center; }
  .gallery .owl-carousel .owl-nav button.owl-prev,
  .rev .owl-carousel .owl-nav button.owl-prev {
    left: -9px;
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7); }
  .gallery .owl-carousel .owl-nav button.owl-next,
  .rev .owl-carousel .owl-nav button.owl-next {
    right: -9px;
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7); }
  .videos .tabs__list {
    display: none; }
  .videos .tabs__content-item {
    display: block !important;
    height: 320px;
    margin-bottom: 15px; }
  .contacts .contacts-form__policy {
    text-align: center; }
  .contacts .btn {
    margin-left: auto;
    margin-right: auto; }
  .contacts-form__info a {
    opacity: 1; }
  .contacts-form__info-item:nth-child(2) span {
    display: none; } }

@media screen and (max-width: 360px) {
  .banner .offer {
    padding-top: 110px; }
  .header__soc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__soc-link:not(:last-child) {
      margin-bottom: 5px;
      margin-right: 0; }
  .header__hamburger::before,
  .header__hamburger::after {
    width: 100%; } }
